body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Wraps the Workshop chart on to 3 columns*/
.wrappedCol {
    column-count: 3;
    column-width: 20px;
    column-gap: 20px;
    padding: 10px;
}

.vol {
    padding: 10px;
    width: 30px;
}

.inc {
    padding: 10px;
}

.table-edged-bottom {
    border-right: 1px solid black;
}

.table-edged-right {
    border-bottom: 1px solid black;
}

.logo {
    height: 50px;
    width: auto;
}